* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Parallax {
    display: flex;
    justify-content: center;
  
  
  }  
    .Parallax__background {
      background-image: url("lofi_generator\ w\ headphones.png");
      width: 1080px;
      height: 1280px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
    }
  

    .contentbody {
    }
   
