* {
    box-sizing: border-box;
    z-index: 2;

  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.883);
    height:100%;
    z-index: 0;
  }

  div.App{
    position: relative;
   
  }
  

  .todobutton{
    width: 60px;
    height: 20px;
    color:white;
    background-color:grey;
    font-size: 12px;
  }
    
  
#tasklisttitle{
  text-align: center;
}

  
#htmltxtarea{
  background-color: rgba(128, 128, 128, 0.637);
  border-radius: 15px;
  position:fixed;
  margin-top: 230px;
  top:175px;
  left:120px;
  width:60%;
  height:100px;
  color:white;
}


.codeeditortitles{
  position:relative;
  top:-1970px;
  left:-60px;
  z-index:3;
  width: 1000px;
  margin:auto;

}
.codeeditortitles:link{
  color:white
}
.codeeditortitles:visited{
  color:turquoise
}

.aboutpage{
  position:relative;
  top:-320px;
  background-color: blueviolet;
  padding:20px;
  margin:auto;
  padding-top: 40px;
  width:1000px;
  height:193px;
  color: white;
  left:-70px;
  border-radius: 20px;
  z-index: 2;
  font-family: 'Indie Flower', cursive;

}

.home{
  position:relative;
  top:-320px;
  background-color: transparent;
  padding:20px;
  margin:auto;
  width:1000px;
  height:193px;
  color: white;
  left:-70px;
  border-radius: 20px;
  z-index: 2;

}

.contactpage{
  position:relative;
  border-radius: 20px;
  top:-820px;
  background-color: #30ac9f;
  padding:20px;
  margin:auto;
  width:1000px;
  color: white;
  left:-70px;
  z-index: 2;
  font-family: 'Indie Flower', cursive;

}

.Lofipic {
  display: flex;
  justify-content: center;
  position:relative;
  left:-70px;

}  



  .lofipicture {
    background-image: url("lofi_generator\ w\ headphones.png");
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
    top:1170px;
    left:50px;
    /* left:30%; */
    /* top:0; */
  }

  

  .textbox{
    width:580px;
    height:400px;
    margin:auto;
    left:740px;
    position:relative;
    background-color: rgba(0, 0, 0, 0.589);   
    color:white; 
    border-radius: 30px;
    top:-300px;
  }

  div.rdw-editor-toolbar{
    background-color: rgba(128, 128, 128, 0.637);
    border-radius: 15px;
    border-color:black;
  }
  div.rdw-dropdown-wrapper {
    color:black;
    background-color:#e2d7d7a2;
  }

div.rdw-option-wrapper{
  background-color:  #e2d7d7a2;
}
